.instructions {
    display: flex;
    flex-direction: column;
    padding: inherit;

}

.instructions__info--label {
    font-family: 'Inter';
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #87643E;
    padding: inherit;

}

.instructions__info--textarea {

    background: #FFFFFF;
    border: 1px solid #D0DBEA;
    border-radius: 8px;
    border: 1px solid #D0DBEA;
    color: #9FA5C0;
    
  
}